<% include partials/header %>
<style type="text/css">
  body {
    padding: 50px;
  }
  
  input[type="text"] {
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  button {
    margin-top: 20px;
  }
  </style>
<section>
  <div class="wrapper">
    <div class="form-signin">
    <form action="/login" method="post" name="Login_Form">
        <h3 class="form-signin-heading">MineOps - password reset </h3>

        <input type="text" class="form-control" name="newPassword" placeholder="New password" required="" autofocus="" />
        <input type="password" class="form-control" name="confirmation" placeholder="Confirm password" required=""/>

        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Reset Password" type="Submit">Reset Password</button>
    </form>
  </div>
  </div>
</section>
<% include partials/footer %>
